.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
android-ndk-prof
/xunxun-player
/player-xun

/ijkplayer-arm64/src/main/jni/Android.mk
/ijkplayer-armv5/src/main/jni/Android.mk
/ijkplayer-x86/src/main/jni/Android.mk
/ijkplayer-x86_64/src/main/jni/Android.mk


libs/
src/main/java/org/crashxun/player_xun/fragment/
src/main/res/drawable/
